<div class="col-md-2 col-sm-3 right-column">
    <div class="right-column-flex-space">
        
    </div>
    

<ul class="nav navbar-nav right-nav">
    <li class="dropdown hidden-xs login">
        <a href="#" class="dropdown-toggle">Login / Register <span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li>
                <div class="dropdown-box">
                    
                </div>
            </li>
        </ul>
    </li>
   
    <li class="contact-us"><a href="https://www.allianzlife.com/contact-us"><span class="btn-icon-mail">Contact Us</span></a></li>
    <!--<li id="feedback"></li>-->
    <li class="visible-xs social-media-xs"><a href="">Social Media</a></li>
    <li class="dropdown hidden-xs social-media">
        <a href="#" class="dropdown-toggle">Social <span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li>
                <div class="dropdown-box">
                    <div class="dropdown-content">
    <div class="social">
        <h3>Connect with Allianz Life</h3>
<p>Share your thoughts and get the latest news.</p>
        <ul class="social-follow">
                <li class="social-follow-facebook">                    
                    <a href="https://www.facebook.com/AllianzLife">Facebook</a>
                </li>
                <li class="social-follow-twitter">                    
                    <a href="https://www.twitter.com/allianzlife">Twitter</a>
                </li>
                <li class="social-follow-linkedin">                    
                    <a href="https://www.linkedin.com/company/allianz-life">LinkedIn</a>
                </li>
                <li class="social-follow-youtube">                    
                    <a href="https://www.youtube.com/allianzus">YouTube</a>
                </li>
        </ul>
    </div>
</div>
                    
                </div>
            </li>
        </ul>
    </li>
</ul>
</div>

