<div class="col-md-2 col-sm-3 right-column">
    <div class="right-column-flex-space">
        
    </div>
    

<ul class="nav navbar-nav right-nav">
    <li class="dropdown hidden-xs login">
        <a href="#" class="dropdown-toggle">Login / Register <span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li>
                <div class="dropdown-box">
                    
    
    
    
    <div>

<div class="cui-portletform clearfix ">

<div class="cui-portlet clearfix ">
﻿



<div class="loginErrorMessage hidden"></div>
<div class="form-group">
    <h2 class="visible-xs">Login / Register</h2>
    
    <label class="control-label hidden-sm hidden-xs" for="LoginWidget_username">Username*</label>
    <input class="form-control " placeholder="Username" type="text" value=""><span class="field-validation-valid"></span><span class="smartFormMessage"></span>
</div>
<div class="form-group">
    <label class="control-label hidden-sm hidden-xs" for="LoginWidget_password">Password*</label>
    <input class="form-control" placeholder="Password" type="password" value=""><span class="field-validation-valid"></span><span class="smartFormMessage"></span>
</div>
<div class="checkbox">
    <label class="checkbox" for="remember">
        <input type="checkbox" value="true"> Remember me
    </label>
</div>
<input value="Login" class="btn btn-green col-md-6 col-sm-12 col-xs-12" type="submit">
<ul class="link-list">
    <li>
        <a href="#service-unavailable">Forgot username?</a>
    </li>
    <li>
        <a href="#service-unavailable">Forgot password?</a>
    </li>
</ul>

    <a class="btn btn-primary col-md-6 col-sm-12 col-xs-12" href="#service-unavailable" style="height: 36px;">Register</a>




</div>
</div>
</div>
                </div>
            </li>
        </ul>
    </li>
   
    <li class="contact-us"><a href="https://www.allianzlife.com/contact-us"><span class="btn-icon-mail">Contact Us</span></a></li>
    <!--<li id="feedback"></li>-->
    <li class="visible-xs social-media-xs"><a href="">Social Media</a></li>
    <li class="dropdown hidden-xs social-media">
        <a href="#" class="dropdown-toggle">Social <span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li>
                <div class="dropdown-box">
                    <div class="dropdown-content">
    <div class="social">
        <h3>Connect with Allianz Life</h3>
<p>Share your thoughts and get the latest news.</p>
        <ul class="social-follow">
                <li class="social-follow-facebook">                    
                    <a href="https://www.facebook.com/AllianzLife">Facebook</a>
                </li>
                <li class="social-follow-twitter">                    
                    <a href="https://www.twitter.com/allianzlife">Twitter</a>
                </li>
                <li class="social-follow-linkedin">                    
                    <a href="https://www.linkedin.com/company/allianz-life">LinkedIn</a>
                </li>
                <li class="social-follow-youtube">                    
                    <a href="https://www.youtube.com/allianzus">YouTube</a>
                </li>
        </ul>
    </div>
</div>
                    
                </div>
            </li>
        </ul>
    </li>
</ul>
</div>

