<div class="l-container--full-width  t-bg-blue-soft  axlTileCollection">
		<div class="l-grid l-grid--max-width ">

					<div class="l-grid__row u-margin-bottom-lg u-padding-top-lg">
			<div class="l-grid__column-medium-12">
					<article class="m-axlIntroductionBlock -is--stacked -no--image  ">
		<div class="tileContent u-text-center">
			<header>
				<div class="tileHeading"><H2>About Allianz Life</H2></div>
				<div class="tileSubHeading"></div>
			</header>


			</div>
	</article>




			</div>
		</div>


			<div class="l-grid__row    ">
				<div class="l-grid__column-medium-12">
						<article class="m-axlTile match-height tile--5050 -is--flipped  -is--split  t-bg-primary-white u-margin-bottom-xl">
		<div class="tileContent u-text-left">

			<div class="tileSubGrid__content">
				<header>
					<div class="tileHeading "></div>
					<div class="tileSubHeading "></div>
				</header>

				<div class="tileBody u-font-size-md">
					<ul>
    <li>Our name is pronounced "AH-Lee-Ahnz."</li>
    <li>We&rsquo;ve been helping Americans prepare for their financial futures since 1896.</li>
    <li>We are headquartered in Minneapolis. </li>
    <li>Allianz Life has about 2,000&nbsp;employees in the United States. The majority work in Minnesota. </li>
    <li>We are recognized among the nation&rsquo;s top employers with awards including FORTUNE 100 Best Companies to Work For, Star Tribune&rsquo;s Top Workplaces, and Ethisphere World&rsquo;s Most Ethical Companies.<sup>1</sup> </li>
    <li>We are a subsidiary of Allianz SE, one of the world&rsquo;s largest financial services companies. Allianz SE is based in Munich, Germany and serves more than 97 million<sup>2</sup> customers worldwide.</li>
</ul>
				</div>

			</div>
		</div>

			<div class="tileImage">
				<picture class="c-image c-teaser__image ">
<img srcset="/-/media/Feature/Tile/Allianz-Life/tile-azl-about-allianz-life-2023.jpg?w=560&hash=41E92747AA58BF1DDE13A9BDB10F4DDC 560w,/-/media/Feature/Tile/Allianz-Life/tile-azl-about-allianz-life-2023.jpg?w=476&hash=B2F4EB290E7CAB188461E77F5B9A127F 476w,/-/media/Feature/Tile/Allianz-Life/tile-azl-about-allianz-life-2023.jpg?w=333&hash=11B84417F040E19E0BAF81717CDED261 333w,/-/media/Feature/Tile/Allianz-Life/tile-azl-about-allianz-life-2023.jpg?w=183&hash=89D2198392A259ED2DE2E436CD1FA1F0 183w,/-/media/Feature/Tile/Allianz-Life/tile-azl-about-allianz-life-2023.jpg?w=73&hash=F11F8C388BDE1DFFE2CCFF76C8B45463 73w" sizes="100vw" src="/-/media/Feature/Tile/Allianz-Life/tile-azl-about-allianz-life-2023.jpg" alt=" " class="c-image__img c-teaser__image-img" />				</picture>
			</div>
	</article>
	<article class="m-axlTile match-height tile--5050   -is--split  t-bg-primary-white u-margin-bottom-xl">
		<div class="tileContent u-text-left">

			<div class="tileSubGrid__content">
				<header>
					<div class="tileHeading "><H3>Our parent company, Allianz SE</H3></div>
					<div class="tileSubHeading "></div>
				</header>

				<div class="tileBody u-font-size-md">
					<p>We&rsquo;re proud to be a part of <a rel="noopener noreferrer" href="https://www.allianz.com/en.html" target="_blank">Allianz SE</a> &ndash; one of the world&rsquo;s largest financial services firms. Allianz SE&nbsp;is the No. 1 ranked insurance brand globally<sup>3</sup> and the world&rsquo;s 76th largest company based on revenue.<sup>4</sup>&nbsp;Allianz Life is one of five Allianz SE subsidiaries in North America along with:</p>
<p style="margin-left: 40px;"><a rel="noopener noreferrer" href="https://www.agcs.allianz.com/" target="_blank">Allianz Global Corporate &amp; Specialty (AGCS)</a></p>
<p style="margin-left: 40px;"><a rel="noopener noreferrer" href="https://www.pimco.com/us/en" target="_blank">PIMCO</a></p>
<p style="margin-left: 40px;"><a rel="noopener noreferrer" href="https://www.allianztravelinsurance.com/" target="_blank">Allianz Global Assistance USA</a></p>
<p style="margin-left: 40px;"><a rel="noopener noreferrer" href="https://www.allianz-trade.com/en_global.html" target="_blank">Allianz Trade</a></p>
				</div>

			</div>
		</div>

			<div class="tileImage">
				<picture class="c-image c-teaser__image ">
<img srcset="/-/media/Feature/Tile/Allianz-Life/tile-azl-our-parent-company-2023.jpg?w=560&hash=02F5D1876A66F844EE3EAF54A6075865 560w,/-/media/Feature/Tile/Allianz-Life/tile-azl-our-parent-company-2023.jpg?w=476&hash=B2F54734D2BBFEAB5581744799BB0675 476w,/-/media/Feature/Tile/Allianz-Life/tile-azl-our-parent-company-2023.jpg?w=333&hash=9162575814AC13FD68BD9CD04757FB71 333w,/-/media/Feature/Tile/Allianz-Life/tile-azl-our-parent-company-2023.jpg?w=183&hash=9E269773DF943B65A69B5DD76EF8634D 183w,/-/media/Feature/Tile/Allianz-Life/tile-azl-our-parent-company-2023.jpg?w=73&hash=B2B26E26C34170BFC4FB2E5D87119953 73w" sizes="100vw" src="/-/media/Feature/Tile/Allianz-Life/tile-azl-our-parent-company-2023.jpg" alt=" " class="c-image__img c-teaser__image-img" />				</picture>
			</div>
	</article>

				</div>
			</div>

			

		</div>
	</div>