<div class="l-container--full-width  t-bg-transparent  axlTileCollection">
		<div class="l-grid l-grid--max-width ">

			

			<div class="l-grid__row    ">
				<div class="l-grid__column-medium-12">
						<article class="m-axlTile match-height    -is--stacked  t-bg-transparent ">
		<div class="tileContent u-text-center">

			<div class="tileSubGrid__content">
				<header>
					<div class="tileHeading "><H2>Why consider Allianz for your retirement goals?</H2></div>
					<div class="tileSubHeading "></div>
				</header>

				<div class="tileBody u-font-size-xl">
					<p>We&rsquo;re committed to you for the long term.</p>
				</div>

			</div>
		</div>

	</article>

				</div>
			</div>

			

		</div>
	</div>
