<div class="l-container--full-width  t-bg-grey-muted  axlTileCollection">
		<div class="l-grid l-grid--max-width ">

			

			<div class="l-grid__row    ">
				<div class="l-grid__column-medium-12">
						<article class="m-axlIntroductionBlock -is--stacked -no--image  ">
		<div class="tileContent u-text-left">
			<header>
				<div class="tileHeading"></div>
				<div class="tileSubHeading"></div>
			</header>

				<div class="tileBody">
					<p>Life insurance including annuities are products of Allianz Life Insurance Company of North America.</p>
<p>For insurance products: </p>
<p>Indexed universal life insurance is not a source for a guaranteed stream of income in retirement.</p>
<p>Guarantees are backed by the financial strength and claims-paying ability of the issuing insurance company. Variable annuity guarantees do not apply to the performance of the variable subaccounts, which will fluctuate with market conditions.</p>
<p>Products are issued by Allianz Life Insurance Company of North America. Registered index-linked annuities (RILAs) are distributed&nbsp;by its affiliate, Allianz Life Financial Services, LLC,&nbsp;<a rel="noopener noreferrer" href="http://www.finra.org" class="disclosure-finra" target="_blank">member FINRA</a>, 5701 Golden Hills Drive, Minneapolis, MN 55416-1297.&nbsp;<a href="tel:800-542-5427">800.542.5427</a>&nbsp;<a href="http://www.allianzlife.com/">www.allianzlife.com</a></p>
<p>This content does not apply in the state of New York.</p>
<p>Withdrawals will reduce the contract value and the value of any potential&nbsp;protection benefits. Withdrawals taken within the contract withdrawal charge schedule will be subject to a withdrawal charge. All withdrawals are subject to ordinary income tax and, if taken prior to age 59½, may be subject to a 10% federal additional tax.</p>
<p>Product and feature availability may vary by state, broker/dealer, and registered investment adviser.</p>
<p>For ETFs:</p>
<p><strong>Investment involves risk including possible loss of principal</strong>. There is no guarantee the funds will achieve their investment objectives and may not be suitable for all investors.</p>
<p>Investors may lose their entire investment, regardless of when they purchase shares, and even if they hold shares for an entire Outcome Period. Full extent of Caps, Buffers, Floors and Spreads only apply if held for stated Outcome Period and are not guaranteed. The Cap and Spread may increase or decrease and may vary significantly after the end of the outcome period.</p>
<p><strong>Investors should consider the investment objectives, risks, charges, and expenses carefully before investing. For a prospectus with this and other information about the fund, please visit&nbsp;<a href="https://www.allianzimetfs.com/">www.allianzIMetfs.com</a>&nbsp;and review the prospectus. Investors should read the prospectus carefully before investing.</strong></p>
<p>AllianzIM ETFs are distributed by Foreside Fund Services LLC. Allianz Life Insurance Company of North America, Allianz Investment Management LLC and Allianz Life Financial Services LLC are affiliated companies and are not affiliated with Foreside Fund Services LLC.</p>
				</div>

			</div>
	</article>




				</div>
			</div>

			

		</div>
	</div>
