<div class="l-container--full-width  t-bg-transparent  axlTileCollection">
		<div class="l-grid l-grid--max-width ">

			

			<div class="l-grid__row    ">
				<div class="l-grid__column-medium-12">
						<article class="m-axlTile match-height    -is--stacked  t-bg-transparent ">
		<div class="tileContent u-text-center">

			<div class="tileSubGrid__content">
				<header>
					<div class="tileHeading "><H2>What is an annuity?</H2></div>
					<div class="tileSubHeading "></div>
				</header>

				<div class="tileBody u-font-size-xl">
					<p>An annuity is a financial product that can help address some common financial concerns, from helping you save for retirement and providing a level of protection for your retirement savings to helping address inflation and longevity. Allianz&reg; annuities offer the following features and benefits:</p>
				</div>

			</div>
		</div>

	</article>

				</div>
			</div>

			

		</div>
	</div>
	
<div class="l-container--full-width  t-bg-blue-soft  axlTileCollection">
		<div class="l-grid l-grid--max-width ">

			

			<div class="l-grid__row    ">
				<div class="l-grid__column-medium-12">
						<article class="m-axlTile match-height    -is--stacked  t-bg-transparent ">
		<div class="tileContent u-text-center">

			<div class="tileSubGrid__content">
				<header>
					<div class="tileHeading "><H2>Explore our annuities</H2></div>
					<div class="tileSubHeading "></div>
				</header>

				<div class="tileBody u-font-size-xl">
					<p>Allianz offers two types of annuities to help address your unique financial needs and retirement goals: fixed index annuities and registered index-linked annuities (RILAs).</p>
				</div>

			</div>
		</div>

	</article>

				</div>
			</div>

			

		</div>
	</div>
	