<article class="m-axlTile match-height    -is--stacked  t-bg-primary-white ">
		<div class="tileContent u-text-center">

			<div class="tileSubGrid__content">
				<header>
					<div class="tileHeading "></div>
					<div class="tileSubHeading "></div>
				</header>

				<div class="tileBody u-font-size-md">
					<div class="tileBody u-font-size-xl">Brett Weinberg</div>
Assistant Vice President, Communications
<p><a href="tel:763-765-7160">763.765.7160</a><br />
<a href="mailto:brett.weinberg@allianzlife.com">brett.weinberg@allianzlife.com</a></p>
				</div>

			</div>
		</div>

	</article>
<article class="m-axlTile match-height    -is--stacked  t-bg-primary-white ">
		<div class="tileContent u-text-center">

			<div class="tileSubGrid__content">
				<header>
					<div class="tileHeading "></div>
					<div class="tileSubHeading "></div>
				</header>

				<div class="tileBody u-font-size-md">
					<div class="tileBody u-font-size-xl">Claire Woit</div>
Senior Communications Manager
<p><a href="tel:763-765-5106">763.765.5106</a><br />
<a href="mailto:claire.woit@allianzlife.com">claire.woit@allianzlife.com</a></p>
				</div>

			</div>
		</div>

	</article>