<div class="l-container u-row-spacing t-bg-transparent  axlTileCollection">
		<div class="l-grid l-grid--max-width l-grid--no-gutters-outer">

			

			<div class="l-grid__row match-height-row   u-padding-top-xl">
				<div class="l-grid__column-medium-12">
						<article class="m-axlTile match-height tile--6633 -is--flipped  -is--split  t-bg-blue-soft ">
		<div class="tileContent u-text-left">

			<div class="tileSubGrid__content">
				<header>
					<div class="tileHeading "><H2>Latest update:</H2></div>
					<div class="tileSubHeading "><H3>Allianz Life Named as One of the 2026 World’s Most Ethical Companies&#174;</H3></div>
				</header>

				<div class="tileBody u-font-size-md">
					<p>We have been recognized by Ethisphere for the seventh year in a row for our commitment to business integrity.</p>
<p><a href="/about/newsroom/2026-Press-Releases/Allianz-Life-Named-as-One-of-the-2026-Worlds-Most-Ethical-Companies">Read more about this recognition</a>, including our commitment to doing what’s right through robust ethics, compliance, and governance practices.</p>
				</div>

			</div>
		</div>

			<div class="tileImage">
				<picture class="c-image c-teaser__image ">
<img srcset="/-/media/Feature/Tile/Allianz-Life/tile-azl-ethisphere-2026-newsroom.jpg?w=832&hash=0257E056C10BD6637EBFF991B49F210F 832w,/-/media/Feature/Tile/Allianz-Life/tile-azl-ethisphere-2026-newsroom.jpg?w=707&hash=94C8232E9E27E91E37A2CE46CFDF0C95 707w,/-/media/Feature/Tile/Allianz-Life/tile-azl-ethisphere-2026-newsroom.jpg?w=495&hash=F24C65CF0302EFCB6BDD0095F632C981 495w,/-/media/Feature/Tile/Allianz-Life/tile-azl-ethisphere-2026-newsroom.jpg?w=272&hash=ACAF885895DD939522E769D55733BE86 272w,/-/media/Feature/Tile/Allianz-Life/tile-azl-ethisphere-2026-newsroom.jpg?w=109&hash=7F9C3E5DC08233EF0A92339C5A7C960E 109w" sizes="100vw" src="/-/media/Feature/Tile/Allianz-Life/tile-azl-ethisphere-2026-newsroom.jpg" alt="Ethisphere World's Most Ethical Companies 2020 - 2026" class="c-image__img c-teaser__image-img" />				</picture>
			</div>
	</article>

				</div>
			</div>

			

		</div>
	</div>