<div class="l-container--full-width  t-bg-grey-muted  axlTileCollection">
		<div class="l-grid l-grid--max-width ">

			

			<div class="l-grid__row    ">
				<div class="l-grid__column-medium-12">
						<div class="o-richTextEditor__wrapper">
		<p><sup>1</sup>&nbsp;Income for life is subject to following the terms of your contract.</p>
<p><sup>2</sup> With the purchase of any additional-cost riders, the contract&rsquo;s value will be reduced by the cost of the rider. This may result in a loss of principal and interest or credits in any year in which the contract does not earn interest or credits in an amount more&nbsp;than the rider fee.&nbsp;</p>
<hr />
	</div>

				</div>
			</div>

			

		</div>
	</div>

        