<div class="l-container--full-width  t-bg-grey-muted  axlTileCollection">
		<div class="l-grid l-grid--max-width ">

			

			<div class="l-grid__row    ">
				<div class="l-grid__column-medium-12">
						<article class="m-axlIntroductionBlock -is--stacked -no--image  ">
		<div class="tileContent u-text-left">
			<header>
				<div class="tileHeading"></div>
				<div class="tileSubHeading"></div>
			</header>

				<div class="tileBody">
					<p><sup>1</sup> &ldquo;World&rsquo;s Most Ethical Companies&rdquo; and &ldquo;Ethisphere&rdquo; names and marks are registered trademarks of Ethisphere LLC.</p>
<p><sup>2</sup> Customer count reflects Allianz&reg; customers in consolidated entities that are part of the customer reporting scope only.</p>
<p><sup>3</sup> Allianz Group, Interbrand Best Global Brands, 2025.</p>
<p><sup>4</sup> Fortune Global 500, 2025. Ranking based on revenue.</p>
<hr />
<p>Please note that Allianz Life, its affiliated companies, and their representatives and employees do not give investment, legal, or tax advice or advice related to Social Security benefits. You are encouraged to consult with your own legal or tax advisor or attorney for specific advice, and consult a local Social Security Administration office or visit <a rel="noopener noreferrer" href="https://www.ssa.gov/" target="_blank">www.ssa.gov</a>&nbsp;regarding any specific questions you may have.</p>
<p>Life insurance and annuities are issued by Allianz Life Insurance Company of North America (Allianz). Registered index-linked annuities are distributed by its affiliate, Allianz Life Financial Services, LLC, <a rel="noopener noreferrer" href="http://www.finra.org" class="disclosure-finra" target="_blank">member FINRA</a>, 5701 Golden Hills Drive, Minneapolis, MN 55416-1297. 800.542.5427 www.allianzlife.com</p>
<p>This content does not apply in the state of New York.</p>
<p>ETFs are distributed by Foreside Fund Services LLC.</p>
<p>AllianzIM, a wholly owned subsidiary of Allianz Life Insurance Company of North America, is a registered investment adviser. AllianzIM provides hedging and other derivatives-based risk management solutions through its proprietary platform.</p>
				</div>

			</div>
	</article>




				</div>
			</div>

			

		</div>
	</div>