	<div class="l-container--full-width  t-bg-green-soft  axlTileCollection">
		<div class="l-grid l-grid--max-width ">

					<div class="l-grid__row u-margin-bottom-lg u-padding-top-lg">
			<div class="l-grid__column-medium-12">
					<article class="m-axlIntroductionBlock -is--stacked -no--image  ">
		<div class="tileContent u-text-center">
				<div class="tileIcon t-bg-primary-brand t-icon-primary-white">
<svg xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="titleIconInformation" aria-describedby="descIconInformation" focusable="true" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><title id="titleIconInformation">Information</title><desc id="descIconInformation">Information</desc>  <path d="M14,8 C14.3,8 14.5,8.2 14.5,8.5 L14.5,23.5 C14.5,23.8 14.3,24 14,24 L10,24 C9.7,24 9.5,23.8 9.5,23.5 L9.5,8.5 C9.5,8.2 9.7,8 10,8 L14,8 Z M12,6 C10.3,6 9,4.7 9,3 C9,1.3 10.3,0 12,0 C13.7,0 15,1.3 15,3 C15,4.7 13.7,6 12,6 Z"/></svg>				</div>
			<header>
				<div class="tileHeading"><H2>What can we do for you?</H2></div>
				<div class="tileSubHeading"><H5>See how our life insurance and annuities can help you achieve your financial goals.</H5></div>
			</header>


				<footer>
					<div class="tileLink">
<a class="m-axlButton m-axlButton--primary" href="/what-we-offer">What we offer</a>					</div>
									</footer>
			</div>
	</article>




			</div>
		</div>


			<div class="l-grid__row    ">
				<div class="l-grid__column-medium-12">
					
				</div>
			</div>

			

		</div>
	</div>
