<div class="l-container-full-width   ">
		<div class="m-axlHero">
			<picture class="c-image c-stage__image--cover c-stage__image--short">
<img srcset="/-/media/Feature/Hero/Allianz-Life/hero-azl-newsroom-2023-1.jpg?w=2368&hash=5CF98B9D0B749B561888E259AF915F23 2368w,/-/media/Feature/Hero/Allianz-Life/hero-azl-newsroom-2023-1.jpg?w=2013&hash=F75D3A0E1661DA829F891E8799AE35DB 2013w,/-/media/Feature/Hero/Allianz-Life/hero-azl-newsroom-2023-1.jpg?w=1409&hash=0BD7C464DF000F256E30ACDCBBACA66B 1409w,/-/media/Feature/Hero/Allianz-Life/hero-azl-newsroom-2023-1.jpg?w=775&hash=2463335B5A6BC9D785FFFC9037EB70ED 775w,/-/media/Feature/Hero/Allianz-Life/hero-azl-newsroom-2023-1.jpg?w=310&hash=2786FAF727DE029DF8A0C8D237F59138 310w" sizes="(min-width: 1200px) 992px, (min-width: 992px) 704px, (min-width: 768px) 320px, 100vw" src="/-/media/Feature/Hero/Allianz-Life/hero-azl-newsroom-2023-1.jpg" alt="" class="c-image__img c-hero__image" />			</picture>
			<div class="l-grid l-grid--max-width l-grid--no-gutters">
				<div class="l-grid__column-medium-12 c-hero__wrapper">
					<h1 class="c-heading c-hero__headline u-text-center">
						Allianz Life newsroom
					</h1>

						<p class="h4 c-heading c-hero__subHeadline u-text-center">
							News releases, research studies, interview resources, and more
						</p>
									</div>
			</div>
		</div>
	</div>