<main id="main" role="main">
        
        	<div class="l-container  t-bg-transparent  axlTileCollection">
		<div class="l-grid l-grid--max-width l-grid--no-gutters-outer">

					<div class="l-grid__row u-margin-bottom-lg u-padding-top-lg">
			<div class="l-grid__column-medium-12">
					<article class="m-axlIntroductionBlock -is--stacked -no--image  ">
		<div class="tileContent u-text-left">
			<header>
				<div class="tileHeading"><H1>Confidentiality for Victims of Domestic Abuse</H1></div>
				<div class="tileSubHeading"></div>
			</header>

				<div class="tileBody">
					Several state laws require insurers to develop procedures to safeguard the sensitive personal information of victims of domestic abuse. Additionally, in many states, insurers are prohibited from discriminating against victims of domestic abuse. This means that insurers cannot deny, refuse to issue, renew or reissue, cancel, exclude coverage or benefits, or charge a higher premium on an insurance policy solely because an individual is a victim of domestic abuse.
<p>Although not required in all states, Allianz Life extends the protections listed herein to all victims of domestic abuse, regardless of where they reside.</p>
<p>If you are a victim of domestic abuse, you may request alternative methods of communication regarding your contract or claims. This may include providing us with an alternative address, telephone number, or other method of contact. We will also limit disclosure of information on your account, including your name and contact information, to the extent permitted by law.</p>
<p>To submit a request, please email us at <a href="mailto:privacy@allianzlife.com">privacy@allianzlife.com</a>, or send a written request to the following address:</p>
<p><strong>Data Protection &amp; Use Office</strong><br />
Allianz Life Insurance Company of North America<br />
PO Box 59060<br />
Minneapolis, MN 55459-0060</p>
<p>Please note that we have 3 business days to implement your request.</p>
				</div>

			</div>
	</article>




			</div>
		</div>


			<div class="l-grid__row  u-margin-bottom-xl  ">
				<div class="l-grid__column-medium-12">
						<article class="m-axlIntroductionBlock -is--stacked -no--image  ">
		<div class="tileContent u-text-left">
			<header>
				<div class="tileHeading"><H2>Additional Information for New York Residents</H2></div>
				<div class="tileSubHeading"></div>
			</header>

				<div class="tileBody">
					Under New York Insurance Law &sect; 2612, insurers are prohibited from discriminating against victims of domestic abuse. This means that insurers cannot deny, cancel, or refuse to renew an insurance policy solely because an individual is a victim of domestic abuse.
<p>Additionally, insurers are required to implement procedures to protect the personal information of victims of domestic abuse. If an individual delivers a valid order of protection to the insurer, the insurer must not disclose the protected person&rsquo;s contact information, including address or telephone number, to anyone. This includes the policyholder if the order of protection has been issued against the policyholder. A parent or guardian may also assert these rights on behalf of a child.</p>
<p>This protection will be in place until the expiration of the order, or until the protected person revokes the request in writing.</p>
<p>To submit an order of protection, or to request contact at an alternative address or phone number, please email us at <a href="mailto:privacy@allianzlife.com">privacy@allianzlife.com</a>, or send a written request to the following address:</p>
<p><strong>Data Protection &amp; Use Office</strong><br />
Allianz Life Insurance Company of North America<br />
PO Box 59060<br />
Minneapolis, MN 55459-0060</p>
<p>Please note that we have 3 business days to implement your request.</p>
<p>New York State Domestic and Sexual Violence Hotline: <a rel="noopener noreferrer" href="tel:8009426906" target="_blank">800-942-6906</a></p>
				</div>

			</div>
	</article>




				</div>
			</div>

			

		</div>
	</div>

        <div class="l-container--full-width a-axlDisclosures">
            <div class="l-grid l-grid--max-width">
                <div class="l-grid__row">
                    <div class="l-grid__column">
                        <div class="row">
    <div class="col-md-12 content-body disclosure">
    </div>
</div>
                    </div>
                </div>
            </div>
        </div>
    </main>
